<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Knock It Back User Login HTML</title>
        <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/normalize.css">
        <link rel="stylesheet" href="/static/skeleton.css">
    </head>
    <body>
        <section class="top">
            <h1>Member Login</h1>
            <form class="login" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Login">
            </form>
        </section>
    </body>
</html>