<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Knock It Back Hidden HTML</title>
        <link rel="stylesheet" href="/static/capstonestyle.css">
    </head>
    <body>
        <h1>Knock It Back</h1>

        {% csrf_token %}
        {% if user.is_authenticated %}
        <h3>{{ user.username }}, here are the drinks you don't want to see!</h3>
        <a href="{% url 'kib_app:home' %}">Homepage</a> 
        <a href="{% url 'kib_app:favorites' %}">My Favorites</a> 
        <a href="{% url 'kib_app:hidden' %}">Hidden</a> 
        <a href="{% url 'logout' %}">Log Out of Account</a>
        {% else %}
        <h3>You must be a member in order to hide drinks. Please create an account or log in to see less of what you don't want!</h3>
        <a href="{% url 'users:create' %}">Create Account</a> <a href="{% url 'login' %}">Member Login</a>
        {% endif %}

        <div>
            <drink
                v-for="drink in drinks"
                v-bind:drink="drink"
                v-bind:key="drink.id"
                @favorite="favoriteDrink"
                @unhide="unhideDrink"
            ></drink>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/static/vues.js"></script>
    </body>
</html>