<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Knock It Back Homepage HTML</title>
        <link rel="stylesheet" href="capstonestyle.css">
    </head>
    <body>
        <h1>Knock It Back</h1>
        <div id="app">
            <label for="searchType">Choose an alcohol type:</label>
            <select name="searchType" id="searchType" v-model="searchType">
                <option value="initial" disabled>select</option>
                <option value="any">any</option>
                <option value="Gin">gin</option>
                <option value="Rum">rum</option>
                <option value="Vodka">vodka</option>
                <option value="none">none</option>
            </select> 
            <button @click="listDrinksByType">Get drink suggestions</button><br>
            <label for="searchTerm">Search by keyword:</label>
            <input type="text" v-model="searchTerm" placeholder="type keyword here"> 
            <button @click="listDrinksByTerm">Get drink suggestions</button><br><br>
            <div>
                <drink
                    v-for="drink in drinks"
                    v-bind:drink="drink"
                    v-bind:key="drink.id"
                ></drink>
            <!-- <button @click="nextPage" v-if="loadMoreButton">Load more...</button> -->
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="secrets.js"></script>
        <script src="lab14app.js"></script>
    </body>
</html>